absl-py==2.1.0
aioquic==1.0.0
anki==24.6.3
ansible==10.2.0
ansible-core==2.17.2
anyio==4.4.0
appdirs==1.4.4
aqt==24.6.3
argcomplete==3.1.3.dev0+g140fa51.d20240618
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.1.dev0
autocommand==2.2.2
Automat==22.10.0
Babel==2.14.0
bcrypt==4.1.3
beautifulsoup4==4.12.3
binwalk==2.4.1
bleach==6.1.0
blinker==1.7.0
borgbackup==1.4.0
Brlapi==0.8.5
Brotli==1.1.0
btrfsutil==6.9.2
build==1.2.1
CacheControl==0.14.0
cachetools==5.3.2
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.2
configobj==5.0.8
constantly==23.10.0
contourpy==1.2.1
coverage==7.6.0
cryptography==42.0.6
cssbeautifier==1.15.1
cssselect==1.2.0
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
dlib==19.24.99
docstring-to-markdown==0.15
EditorConfig==0.12.4
evdev==1.7.1
executing==2.0.0
exif==1.6.0
face_recognition==1.3.0
face_recognition_models==0.3.0
fastjsonschema==2.20.0
filelock==3.13.3
Flask==2.3.3
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.5.4
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-pasta==0.2.0
gpg==1.23.2
grpcio==1.65.1
h11==0.14.0
h2==4.1.0
h5py==3.11.0
hpack==4.0.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.7
importlib_metadata==5.1.0
incremental==22.10.0
inflect==7.3.1
iniconfig==2.0.0
installer==0.7.0
iotop==0.6
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.14.0
jedi==0.19.1
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.3.2
jsbeautifier==1.15.1
json5==0.9.25
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter_server==2.14.2
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
kaitaistruct==0.10
keras==3.4.1
Keras_Applications==1.0.8
keyring==25.2.1
kiwisolver==1.4.5
ldap3==2.9
lensfun==0.3.4
libfdt==1.7.0
libmsym==0.2.4
libvirt-python==10.5.0
lit==18.1.8.dev0
llfuse==1.5.0
lockfile==0.12.2
louis==3.30.0
lxml==5.2.2
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
meson==1.5.0
mistune==3.0.2
mitmproxy==10.3.1
mitmproxy_rs==0.5.2
ml_dtypes==0.4.0
more-itertools==10.3.0
msgpack==1.0.5
mutagen==1.47.0
mypy==1.10.1
mypy_extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest_asyncio==1.6.0
netsnmp-python==1.0a1
nftables==0.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==2.0.0
oauth2client==4.1.3
oauthlib==3.2.2
odfpy==1.4.2
opt_einsum==0+unknown
optree==0.12.1
ordered-set==4.1.0
orjson==3.10.6
outcome==1.3.0.post0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.4
passlib==1.7.4
pdfarranger==1.11.0
peewee==3.17.1
pexpect==4.9.0
pikepdf==9.0.0
pillow==10.4.0
pip==24.1.2
pipx==1.6.0
platformdirs==4.2.2
pluggy==1.5.0
pooch==1.8.2
primenote==1.5.3
prometheus_client==0.20.0
prompt_toolkit==3.0.47
protobuf==5.27.2
protontricks==1.11.1
psutil==6.0.0
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure_eval==0.2.3
pyasn1==0.5.1
pyasn1_modules==0.3.0
pybind11==2.13.1
pycairo==1.26.1
pycodestyle==2.11.1
pycparser==2.22
pycuda==2024.1
pydocstyle==6.3.0
pydot==2.0.0
pygdbmi==0.11.0.0
Pygments==2.18.0
PyGObject==3.48.2
pylsqpack==0.3.18
PyNaCl==1.5.0
PyOpenGL==3.1.7
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyperclip==1.8.2
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6_sip==13.8.0
PyQt6-WebEngine==6.7.0
pyrsistent==0.19.3
pyserial==3.5
PySide6==6.7.2
PySocks==1.7.1
pytest==8.3.1
python-dateutil==2.9.0
python-json-logger==2.0.7
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.11.0
python-mpd2==3.1.1
python-rapidjson==1.16
pytools==2024.1.5
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
pyzmq==25.1.2
QtPy==2.4.1
referencing==0.35.1
Reflector==2023.6.28.0.36.1
requests==2.32.3
requests-file==1.5.1
requests-oauthlib==1.3.1
resolvelib==1.0.1
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.1
scipy==1.14.0
scour==0.38.2
SecretStorage==3.3.3
Send2Trash==1.8.2
sentry-sdk==2.10.0
service-identity==23.1.0
setproctitle==1.3.3
setuptools==69.5.1
shiboken6==6.7.2
shiboken6-generator==6.7.2
simplejson==3.19.2
six==1.16.0
smbus==1.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.5
stack_data==0.6.3
stevedore==5.2.0
TBB==0.2
tensorboard==2.17.0a0
tensorboard_data_server==0.8.0a0
tensorboard_plugin_wit==1.8.1
tensorflow==2.17.0
tensorflow_estimator==2.15.0
termcolor==2.4.0
threadpoolctl==3.4.0
tinycss2==1.3.0
tldextract==5.1.2
tomli==2.0.1
torbrowser-launcher==0.3.7
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.3
trio==0.25.1
trove-classifiers==2024.7.18
Twisted==24.3.0
typeguard==4.3.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
ufw==0.36.2
ujson==5.10.0
urllib3==1.26.19
urwid==2.6.10
userpath==1.9.2
validate==5.0.8
validate-pyproject==0.18
vdf==3.4
virtualenv==20.26.2
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
vorta==0.9.1
waitress==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
wheel==0.43.0
woeusb-ng==0.2.12
wrapt==1.16.0
wsproto==1.2.0
wxPython==4.2.1
xxhash==3.4.1
zipp==3.18.1
zope.interface==6.3
zstandard==0.22.0
